const envData = {
    // #tokens
    
    telegramToken: '',
    
    
    // #Testers
    
    dev: {
        openaiKey: '',
        writesonicKey: '',
        UsersId: [],
        devo: ,
        orgId: '',
    },


    // #users data

    users: {
        UsersId: [],
        openaiKey: '',
    }
}
module.exports = {
    envData
}